<section class="componente">
    
    <div class="cabecalho">
        
        <span>
            Bem vindo, {{NM_USUARIO}}
        </span>
    
    </div>

    <hr>

    <div class="corpo">

    </div>

    <div class="menu">
        
        <button class="navegador" >
            Início
        </button>

        <button class="navegador" routerLink="/lancamentos">
            Lançamentos
        </button>
        
        <button class="navegador">
            Perfil
        </button>
    </div>


</section>
