.componente{
    width: 100vw;
    height: 100vh;
    margin: -.5rem;
}

.modal{
    width: 18rem;
    height: 22rem;

    border-radius: 1rem;
    border: 1px solid gray;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

textarea{
    display: inline-block;
    height: 4rem;
    margin: .15rem .5rem;
    width: calc(100% - 2rem);
}

label{
    margin: .15rem .5rem;
    display: inline-block;
    width: 43%;
    font: bold 1.2rem "Calibri";
}

#DT_LANCAMENTO, #TP_LANCAMENTO{
    display: inline-block;
    width: calc(50% - 1.5rem);
}

input, select{
    display: inline-block;
    margin: .15rem .5rem;
    height: 1.45rem;
    font: normal 1rem "Calibri";
    width: calc(100% - 2rem);
}

.btn-modal{
    display: inline-block;
    margin: .25rem .5rem;
    width: calc(50% - 1rem);
    height: 1.5rem;
}