<section class="componente">

    <button (click)="novoRegistro()">
        Novo
    </button>

</section>

<dialog class="modal">

    <label for="DT_LANCAMENTO">
        Data:
    </label>

    <label for="TP_LANCAMENTO">
        Tipo:
    </label>
    
    <input
    id="DT_LANCAMENTO"
    [(ngModel)]="DT_LANCAMENTO"
    type="date"
    required
    >
    
    <select [(ngModel)]="TP_LANCAMENTO" id="TP_LANCAMENTO">
        <option hidden></option>
        <option value="R">Receita</option>
        <option value="D">Despesa</option>
    </select>

    <label for="ID_CATEGORIA">
        Categoria:
    </label>
    
    <select [(ngModel)]="ID_CATEGORIA" id="ID_CATEGORIA">
        <option hidden></option>
        <option value="1">Outros</option>
    </select><br>
    
    <label for="DS_LANCAMENTO">
        Descrição:
    </label>
    
    <textarea id="DS_LANCAMENTO" [(ngModel)]="DS_LANCAMENTO"></textarea>
    
    <label for="VL_LANAMENTO">
        Valor:
    </label>
    
    <input
    id="VL_LANCAMENTO"
    [(ngModel)]="VL_LANCAMENTO"
    type="number"
    required
    >

    <br>
    
    <button class="btn-modal" (click)="salvarRegistro()">
        Salvar
    </button>
    
    <button class="btn-modal">
        Cancelar
    </button>

</dialog>